*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*.debug{}*/


body{
    padding: 5% 5% 0% 5%;
    background: -webkit-linear-gradient(90deg, #DCDBD2 85%, #009688 15% 60%);
    background-repeat: no-repeat;
    height: 100vh;

    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
}
#bodyContainer{
    max-width: 1400px;
    min-width: 600px;
    max-height: 800px;
    min-height: 400px;
    margin: 0 auto;
}
div{
    --bs-gutter-x: 0 !important;
}
header{
    background-color: #EAEAEA;
}

header .row .col-5, header .row .col-7{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .row .col-5{
    border-right: 2px solid #B1B1B1;
}
header i{
    font-size: 30px;
    margin: 10px;
    color: #B1B1B1;
}
#userId{
    display: flex;
    align-items: center;
}
img{
    width: 80px;
    border-radius: 50%;
    padding: 8px;
}
h1{
    font-size: 20px !important;
}

#chatToUser{
    display: flex;
    flex-direction: row;
}
#ChatToUserId{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body h2{
    font-size: 15px;
    color: #B1B1B1;
}


main .row{
    height: 60vh;
}
main .col-7{
    background-image: url("../img/mine.jpg");
    display: flex;
    flex-direction: column;
}
main .col-7 .messaggioRicevuto h1{
    text-align: left;
    padding: 20px;
    background-color: red;
}
main .col-7 .messaggioInviato h1{
    text-align: right;
    padding: 20px;

}



#bannerRicevinotifiche{
    background-color: #8EDAFC;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
#bannerRicevinotifiche i{
    color: #8EDAFC;
    font-size: 30px;
}
#bannerRicevinotifiche .notiIconContainer{
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bannerRicevinotifiche a{
    color: #B1B1B1;
}
.containerRiceviNotifiche{
    margin-left: 10px;
}