*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*.debug{}*/

header{
    background-color: #EAEAEA;
}

header .row .col-5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 2px solid #B1B1B1;
}
header i{
    font-size: 30px;
    margin: 10px;
    color: #B1B1B1;
}
#userPfp{
    display: flex;
    align-items: center;
}
img{
    width: 80px;
    border-radius: 50%;
    padding: 8px;
}
body h1{
    font-size: 30px;
}
