*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    padding-left: 0 !important;
}
li{
    list-style: none;
}
/*.debug{}*/


body{
    padding: 5% 5% 0% 5%;
    background: -webkit-linear-gradient(90deg, #DCDBD2 85%, #009688 15% 60%);
    background-repeat: no-repeat;
    height: 100vh;

    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
}
#bodyContainer{
    max-width: 1400px;
    min-width: 600px;
    max-height: 800px;
    min-height: 400px;
    margin: 0 auto;
}
div{
    --bs-gutter-x: 0 !important;
}
header{
    background-color: #EAEAEA;
}

header .row .col-5, header .row .col-7{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .row .col-5{
    border-right: 2px solid #B1B1B1;
}
header i{
    font-size: 30px;
    margin: 10px;
    color: #B1B1B1;
}
#userId{
    display: flex;
    align-items: center;
}
img{
    width: 80px;
    border-radius: 50%;
    padding: 8px;
}
h1{
    font-size: 20px !important;
}

#chatToUser{
    display: flex;
    flex-direction: row;
}
#ChatToUserId{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body h2{
    font-size: 15px;
    color: #B1B1B1;
}
body h3{
    font-size: 10px;
    color: #B1B1B1;
}


main .row{
    height: 60vh;
}
main .col-7{
    background-image: url("../img/mine.jpg");
    height: 100%;
    position: relative;

}

#writeMessage{
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 40px;
}

.messaggio{
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
    clear: both;
}
.received{
    background-color: #D5F9BA;
    float: right;
}
.sent{
    background-color: white;
    float: left;
}
.messageContainer{
    display: flex;
    align-items: flex-end;
    align-content: center;
    gap: 40px;
}
.messageContainer h2{
    align-self: flex-end;
}

#searchTheUser{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}
#searchTheUser i{
    font-size: 20px;
    color: #B1B1B1;
}
#searchTheUser input{
    border: 0;
    width: calc(100% - 40px);
}






main .col-5{
    background-color: white;
}
#sezioneElencoContatti{
    display: flex;
    flex-direction: row;
}



#sezioneElencoContatti .contatto{
    width: 100%;
}

#sezioneElencoContatti .contatto img{
    display: inline-block;
}
 #contattoContainerTesto{
    display: inline-block;
}
#sezioneElencoContatti .active{
    background-color: #B1B1B1;
}


#bannerRicevinotifiche{
    background-color: #8EDAFC;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
#bannerRicevinotifiche i{
    color: #8EDAFC;
    font-size: 30px;
}
#bannerRicevinotifiche .notiIconContainer{
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bannerRicevinotifiche a{
    color: #B1B1B1;
}
.containerRiceviNotifiche{
    margin-left: 10px;
}


